@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

/* скидаємо відступи */
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* прибираємо крапки з списків */
.list {
  list-style: none;
}

/* прибираємо підкресоювання посилань */
.link {
  text-decoration: none;
}

/* прибираємо зайві заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопка герой */
.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

/* Кнопка-форма-півал */
.footer-form__btn {
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  padding: 8px 28px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin-left: 12px;
  }
}

.icon-send {
  margin-left: 10px;
}

/* Кнопка модалка */
.modal-form__btn {
  margin: 0 auto;
  padding: 10px 56px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188CE8;
}

/* Кнопка закрити модалку */
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn:hover .modal-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Кнопки фільтри портфоліо */
.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  grid-gap: 8px;
  grid-row-gap: 15px;
}
@media (min-width: 768px) {
  .btn {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .btn {
    margin-bottom: 50px;
  }
}

.btn__item:not(:last-child) {
  margin-right: 8px;
}

.btn__category {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--team-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__category:hover, .btn__category:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.checkbox__icon-check, .checkbox__label, .footer-social__link, .client__link, .worker__social-link, .work__text, .features__fon, .modal-form__btn, .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: var(--white-background-color);
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header__section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .menu-toggle {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 0 0 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  display: block;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-container .menu-toggle:hover {
  fill: #2196F3;
}

.header__logo {
  width: 145px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo--black {
  color: var(--black-logo-color);
}

.logo--white {
  color: var(--white-text-color);
}

.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-mobile_2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 469px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-tab.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 469px) and (min-device-pixel-ratio: 2), screen and (min-width: 469px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 469px) and (min-resolution: 192dpi), screen and (min-width: 469px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-tab_2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-desk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero-desk_2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1, 61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1, 36;
    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px;
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__fon {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-background-color);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .features__fon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__fon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__fon {
    width: 270px;
  }
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .section__title {
    margin-bottom: 30px;
  }
}

.work__item {
  position: relative;
}

.work__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--team-background-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.team__item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 479px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.worker {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .worker {
    padding: 30px 0px;
  }
}

.worker__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.worker__prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.worker__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .worker__social-list {
    justify-content: space-between;
  }
}

.worker__social-item {
  width: 44px;
  height: 44px;
}
@media screen and (max-width: 1199px) {
  .worker__social-item {
    margin: 0 5px;
  }
}

.worker__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.worker__social-link:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}

.worker__social-icon {
  fill: currentColor;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 30px;
}
@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
  }
}

.client__item {
  border-radius: 4px;
  height: 90px;
}
@media screen and (min-width: 480px) {
  .client__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
  }
}

.client__link {
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #AFB1B8;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

.footer__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer__position {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .footer__position {
    display: flex;
  }
}
@media (min-width: 768px) {
  .footer__position {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__position-contact {
    width: 231px;
  }
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contact__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contact__address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__address:hover, .footer-contact__address:focus {
  color: var(--accent-color);
}

.footer-contact__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer-social__networks {
    margin: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social__networks {
    margin-left: 70px;
    width: 206px;
  }
}

.footer-social__title {
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
}

@media screen and (max-width: 1199px) {
  .footer-social__item {
    padding: 0 5px;
  }
}

.footer-social__list {
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .footer-social__list {
    justify-content: space-between;
  }
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.062745098);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer-form__container {
    margin-left: 93px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: block;
  }
}

.footer-form__text {
  padding: 0px 0px 0px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-form__input {
  margin-bottom: 20px;
  width: 100%;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--hero-background-color);
  color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio {
  display: grid;
  grid-template-columns: auto;
  gap: 30px 30px;
  align-items: stretch;
}
@media screen and (min-width: 480px) {
  .portfolio {
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    grid-template-columns: auto auto auto;
  }
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .thumb__text {
  transform: translateY(0);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-text {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}

.gallery-text__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.gallery-text__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  height: 609px;
  background: var(--white-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal {
    width: 320px;
    height: 609px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__field:nth-child(5) {
  margin-bottom: 20px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form__input {
  width: 100%;
  margin: 0;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(25%);
  display: inline-block;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover + .modal-form__input-icon,
.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--accent-color);
}

.comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:hover, .comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__label {
  font-size: 12px;
  line-height: 1, 19;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 479px) {
  .checkbox__label {
    font-size: 9px;
    line-height: 1, 19;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1, 71;
  }
}

.checkbox__input:checked + .checkbox__icon-check {
  background-color: #2196F3;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon-check {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  fill: var(--white-background-color);
}

.checkbox__link {
  margin-left: 4px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 12px;
  line-height: 1, 19;
  color: #2196F3;
}
@media screen and (max-width: 479px) {
  .checkbox__link {
    font-size: 9px;
    line-height: 1, 19;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}/*# sourceMappingURL=main.css.map */