:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #ffffff;
    --accent-color: #2196f3;
    --black-logo-color: #000000;
    --white-background-color: #ffffff;
    --hero-background-color: #2f303a;
    --team-background-color: #f5f4fa;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--white-background-color);
    color: var(--primary-text-color);
}

/* скидаємо відступи */
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* прибираємо крапки з списків */
.list {
    list-style: none;
}

/* прибираємо підкресоювання посилань */
.link {
    text-decoration: none;
}

/* прибираємо зайві заголовки */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Шапка */

.header {
    background-color: var(--white-background-color);
    border-bottom: 1px solid #ececec;
}

.header__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Лого */
.header__logo {
    width: 145px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);

    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo--black {
    color: var(--black-logo-color);
}

.logo--white {
    color: var(--white-text-color);
}

/* Навігація */

.header__nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}


.nav__link {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
    display: flex;
    margin-left: auto;
}

.contact__item {
    margin-left: 50px;
}

.contact__link {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-text-color);
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}


.active::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);
}

/* Основний контент */

/* ГЕРОЙ */
.hero {
    background-color: var(--hero-background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../images/Img16.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    
    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    border-radius: 4px;
    border: none;
    padding: 10px 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero__btn:hover,
.hero__btn:focus {
    background-color: var(--white-text-color);
    color: var(--accent-color);
}

/* Список переваг */

.features__list {
    display: flex;
}

.features__item:not(:last-child) {
    margin-right: 30px;
    max-width: 270px;
}

.features__fon {
display: flex;
justify-content: center;
align-items: center;

width: 270px;
height: 120px;
margin-bottom: 30px;
background-color: var(--team-background-color);
border-radius: 4px;
}



.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);

    margin-bottom: 10px;
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* Список занять */

.work {
    padding-bottom: 94px;
}

.work__list {
    display: flex;
}

.work__item:not(:last-child) {
    margin-right: 30px;
}

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    margin-bottom: 50px;
}

.work__item {
    position: relative;
}

.work__text {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    
    color: var(--white-text-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/* Команда */
.team {
    background-color: var(--team-background-color);
}

.team__list {
    display: flex;
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.team__item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}

.worker {
    padding: 30px 0px;
}

.worker__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    
    margin-bottom: 10px;
}

.worker__prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.worker__social-list {
    display: flex;
    padding: 0px 32px;
    
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.worker__social-item {
    width: 44px;
    height: 44px;
}

.worker__social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #afb1b8;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker__social-link:hover {
    color: #ffffff;
    background-color: var(--accent-color);
}

.worker__social-icon {
    fill: currentColor;
}

/* Клієнти */

.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client__list {
    display: flex;
}

.client__item {
    
    border-radius: 4px;
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.client__item:not(:last-child) {
    margin-right: 30px;
}

.client__link {
display: flex;
justify-content: center;
align-items: center;
width: 170px;
height: 92px;
border-radius: 4px;
border: 1px solid #afb1b8;
color: #AFB1B8;
fill: currentColor;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.client__link:hover,
.client__link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}


/* Підвал */
.footer {
    background-color: var(--hero-background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    
    display: inline-block;
    margin-bottom: 20px;
}

/* Список контактів */

.footer__position {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    }
.footer-contact__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contact__address:hover,
.footer-contact__address:focus,
.footer-contact__link:hover,
.footer-contact__link:focus {
    color: var(--accent-color);
}

.footer-contact__address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Соціальні мережі */

.footer-social__networks {
    margin-left: 70px;
    width: 206px;
}

.footer-social__title {
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer-social__list {
    list-style: none;
    justify-content: space-between;
    align-items: center;

    display: flex;
    padding: 0;
    margin-top: 0;
}

.footer-social__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white-text-color);
    background-color: #ffffff10;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover {
    background-color: var(--accent-color);
}

.footer-social__icon {
    fill: currentColor;
}

/*Підписатись на розсилку*/

.footer-form__container {
    margin-left: 93px;
    padding-top: 10px;
}

.footer-form__text {
    padding: 0px 0px 0px 0px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer-form__input {
    width: 386px;
    margin: 0;
    padding: 13px 16px;
    border-radius: 4px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--hero-background-color);
    color: var(--white-text-color);}

.footer__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    
    color: rgba(255, 255, 255, 0.6);}

.footer-form__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: none;
    margin: 0;
    margin-left: 12px;
    padding: 8px 28px;
    border-radius: 4px;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    cursor: pointer;}

.icon-send {
    margin-left: 10px;
}

/* Портфоліо */

.btn__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn__item:not(:last-child) {
    margin-right: 8px;
}

.btn__category {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--team-background-color);
    color: var(--primary-text-color);
    cursor: pointer;

    display: inline-block;
    min-width: 73px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.btn__category:hover,
.btn__category:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Галерея */

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.portfolio__item {
    margin: 15px;
}

.portfolio__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .thumb__text {
    transform: translateY(0);
}
.thumb{
    position: relative;
    overflow: hidden;
}

.thumb__text {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    color: var(--white-text-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-text {
    border: 1px solid #eeeeee;
    border-top: transparent;
    padding: 20px 24px;
}

.gallery-text__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);

    margin-bottom: 4px;
}

.gallery-text__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


/* Модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 528px;
    height: 581px;
    
    background: var(--white-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    right: 8px;
    top: 8px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.close-btn:hover .modal-icon {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Форма */

.modal-form__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1,15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color:var(--primary-text-color);
}

.modal-form__field {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-form__field:nth-child(5){
    margin-bottom: 20px;
}

.modal-form__label {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1,17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.modal-form__input {
    width: 100%;
    margin: 0;
    padding: 10px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover,
.modal-form__input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form__input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(25%);
    
    display: inline-block;
    width: 12px;
    height: 12px;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover+.modal-form__input-icon,
.modal-form__input:focus+.modal-form__input-icon {
    fill: var(--accent-color);
}

.comment {
    resize: none;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1,17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.comment:hover,
.comment:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox__input {
    appearance: none;
}

.checkbox__label {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.checkbox__input:checked + .checkbox__icon-check {
    background-color: #2196F3;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 1px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 7px;
    fill: var(--white-background-color);

}

.checkbox__link {
    margin-left: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    
    color: #2196F3;
}

.modal-form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 56px;

    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover,
.modal-form__btn:focus {
    background-color: #188CE8;
}