.footer-form__container {
    @media screen and (min-width: 768px) {
    
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
        padding-top: 10px;
    }
}

.footer-form__text {
    padding: 0px 0px 0px 0px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer-form__input {
    @media screen and (min-width: 1200px) {
        width: 358px;
    }
    
    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 1199px) {
        width: 450px;
        margin-bottom: 20px;
    }

    margin: 0;
    padding: 13px 16px;
    border-radius: 4px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--hero-background-color);
    color: var(--white-text-color);
}

.footer__input::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
}