.header__logo {
    width: 145px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);

    // margin-right: 93px;
    // padding-top: 24px;
    // padding-bottom: 25px;
}

.logo--black {
    color: var(--black-logo-color);
}

.logo--white {
    color: var(--white-text-color);
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--white-background-color);
}

.menu-button .icon-cross {
    display: none;
}

.menu-button .js-open-menu .icon-cross {
    display: block;
}

.menu-button .js-open-menu .icon-menu {
    display: none;
}