/* скидаємо відступи */
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

/* прибираємо крапки з списків */
.list {
    list-style: none;
}

/* прибираємо підкресоювання посилань */
.link {
    text-decoration: none;
}

/* прибираємо зайві заголовки */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}